@model AppDev.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Details</h1>

<div>
    <h4 class="text-secondary">Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span class="text-dark">@Html.DisplayNameFor(model => model.Status)</span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">@Html.DisplayFor(model => model.Status)</span>
        </dd>
        <dt class="col-sm-2">
            <span class="text-dark">@Html.DisplayNameFor(model => model.Customer)</span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">@Html.DisplayFor(model => model.FullName)</span>
        </dd>
        <dt class="col-sm-2">
            <span class="text-dark">@Html.DisplayNameFor(model => model.Customer.Email)</span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">@Html.DisplayFor(model => model.Customer.Email)</span>
        </dd>
        <dt class="col-sm-2">
            <span class="text-dark">@Html.DisplayNameFor(model => model.Address)</span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">@Html.DisplayFor(model => model.Address)</span>
        </dd>
        <dt class="col-sm-2">
            <span class="text-dark">@Html.DisplayNameFor(model => model.TotalPrice)</span>
        </dt>
        <dd class="col-sm-10">
            <span class="text-dark">@Html.DisplayFor(model => model.TotalPrice)</span>
        </dd>
        <dt class="col-sm-2">
            <span class="text-dark">@Html.DisplayNameFor(model => model.OrderItems)</span>
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-dark">Items</th>
                        <th class="text-dark">Price</th>
                        <th class="text-dark">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderItems)
                    {
                        <tr>
                            <td class="text-dark">@Html.DisplayFor(modelItem => item.Book.Title)</td>
                            <td class="text-dark">@Html.DisplayFor(modelItem => item.Price)</td>
                            <td class="text-dark">@Html.DisplayFor(modelItem => item.Quantity)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
