@model IEnumerable<AppDev.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-primary">List of books</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create new book</a>
</p>
<table class="table text-white">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-white">
                <td >
                    <span >@Html.DisplayFor(modelItem => item.Title)</span>
                </td>
                <td >
                    <span >@Html.DisplayFor(modelItem => item.Category.Name)</span>
                </td>
                <td >
                    <span >@Html.DisplayFor(modelItem => item.Price)</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
